In [1]:
# instalação do afinn e o vader
!pip install afinn
!pip install vaderSentiment

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: afinn in /usr/local/lib/python3.7/dist-packages (0.1)
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: vaderSentiment in /usr/local/lib/python3.7/dist-packages (3.3.2)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from vaderSentiment) (2.23.0)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->vaderSentiment) (1.24.3)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->vaderSentiment) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->vaderSentiment) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->vaderSentiment) (2022.5.18.1)

In [2]:
# descompactação dos arquivos
import zipfile
with zipfile.ZipFile('/content/elon_tweets_stocks.zip', 'r') as zip_ref:
    zip_ref.extractall('/content')

In [3]:
# salvando os dataframe em variaveis
import pandas as pd
elon_data = pd.read_csv('data.csv')
data= pd.read_csv('tweets.csv')

In [4]:
# gerando a coluna engajamento
elon_data['engagement'] = elon_data['like'] + elon_data['comment'] + elon_data['rt']
data['engagement'] = data['like'] + data['comment'] + data['rt']

In [5]:
# algoritimo para a normalização dos textos
import re  
def remove_special_character(tweet):
    # remove the old style retweet text "RT"
    tweet = re.sub(r'^RT[\s]+', '', tweet)

    # remove hyperlinks
    tweet = re.sub(r'https?:\/\/.*[\r\n]*', '', tweet)

    # remove hashtags. only removing the hash # sign from the word
    tweet = re.sub(r'#', '', tweet)

    # remove single numeric terms in the tweet. 
    tweet = re.sub(r'[0-9]', '', tweet)
    
    return tweet

In [6]:
# normalizando os textos
elon_data['tweet'] = elon_data['tweet'].apply(lambda tweet: remove_special_character(tweet))
elon_data['tweet'] = elon_data['tweet'].str.lower()
data['tweet'] = data['tweet'].apply(lambda tweet: remove_special_character(tweet))
data['tweet'] = data['tweet'].str.lower()

In [7]:
# printando algumas estastisticas
print('maior alta na bolsa-> ',elon_data['high'].max())
print('menor baixa na bolsa-> ',elon_data['low'].min())
print('maior subida na bolsa-> ',elon_data['variation'].max())
print('maior queda na bolsa-> ',elon_data['variation'].min())
print('maior engajamento no twitter-> ',elon_data['engagement'].max())
print('menor engajamento no twitter-> ',elon_data['engagement'].min())

maior alta na bolsa->  681.4
menor baixa na bolsa->  29.2
maior subida na bolsa->  8.869999999999976
maior queda na bolsa->  -9.099999999999994
maior engajamento no twitter->  1942822
menor engajamento no twitter->  23

In [8]:
# printando algumas estastisticas
print('maior alta na bolsa-> ',data['high'].max())
print('menor baixa na bolsa-> ',data['low'].min())
print('maior subida na bolsa-> ',data['variation'].max())
print('maior queda na bolsa-> ',data['variation'].min())
print('maior engajamento no twitter-> ',data['engagement'].max())
print('menor engajamento no twitter-> ',data['engagement'].min())

maior alta na bolsa->  435.31
menor baixa na bolsa->  141.05
maior subida na bolsa->  35.73000000000002
maior queda na bolsa->  -28.079999999999984
maior engajamento no twitter->  1489
menor engajamento no twitter->  0

In [9]:
# gerando a analize do afinn
from afinn import Afinn
afinn = Afinn()
data['afinn'] = data['tweet'].apply(lambda tweet: afinn.score(tweet))/20
elon_data['afinn'] = elon_data['tweet'].apply(lambda tweet: afinn.score(tweet))/20

In [10]:
# algoritimo para a nota do vader
from vaderSentiment.vaderSentiment import SentimentIntensityAnalyzer
vader = SentimentIntensityAnalyzer()
def getVaderScore(tweet):    
    vader_score = vader.polarity_scores(tweet)
    score = vader_score['compound']
    return score*5

In [11]:
# dando a nota do vader para os textos
# data['vander_sentiment'] = data['vander_score'].apply(lambda score: getVanderSentiment(score))
data['vader'] = data['tweet'].apply(lambda tweet: getVaderScore(tweet))
elon_data['vader'] = elon_data['tweet'].apply(lambda tweet: getVaderScore(tweet))

In [12]:
# mostrando algumas estastisticas
print('nota mais alta do vader para tweets aleatorios ->',data['vader'].max())
print('nota mais baixa do vader para tweets aleatorios ->',data['vader'].min())
print('nota mais alta do vader para tweets do ellon musk ->',elon_data['vader'].max())
print('nota mais baixa do vader para tweets do ellon musk ->',elon_data['vader'].min())

nota mais alta do vader para tweets aleatorios -> 4.967
nota mais baixa do vader para tweets aleatorios -> -4.989
nota mais alta do vader para tweets do ellon musk -> 4.9915
nota mais baixa do vader para tweets do ellon musk -> -4.819

In [13]:
# mostrando algumas estastisticas
print('nota mais alta do afinn para tweets aleatorios ->',data['afinn'].max())
print('nota mais baixa do afinn para tweets aleatorios ->',data['afinn'].min())
print('nota mais alta do afinn para tweets do ellon musk ->',elon_data['afinn'].max())
print('nota mais baixa do afinn para tweets do ellon musk ->',elon_data['afinn'].min())

nota mais alta do afinn para tweets aleatorios -> 2.35
nota mais baixa do afinn para tweets aleatorios -> -4.95
nota mais alta do afinn para tweets do ellon musk -> 0.9
nota mais baixa do afinn para tweets do ellon musk -> -0.8

In [14]:
#gerando novo data frame com os tweets do elon musk filtrados por palavras chave
from re import X
from datetime import datetime, timedelta
import numpy as np
elon_tweets= elon_data['tweet'].tolist()
disorder = True
cicles = 1
output = []
for x, item in enumerate(elon_tweets):
  if 'tesla' in item:
    output.append(x)
  elif 'car' in item:
    output.append(x)
  elif 'model 3' in item:
    output.append(x)
  elif 'model s' in item:
    output.append(x)
  elif 'model x' in item:
    output.append(x)
  elif 'model y' in item:
    output.append(x)
  elif 'tsla' in item:
    output.append(x)
  elif 'eletric' in item:
    output.append(x)
  elif 'solar' in item:
    output.append(x)
elon_filtered_data = elon_data.loc[output]

Exibição dos data frames em suas formas finais

In [15]:
data

,tweet,date,like,comment,rt,volume,open,close,high,low,variation,engagement,afinn,vader
0,our penny stock picks gained over % in the pas...,2015-01-01,0,0,0,2392947,223.09,222.41,225.6800,222.25,-0.68,0,0.10,2.1945
1,how it's made: dream cars - tesla model s.,2015-01-01,0,0,0,2392947,223.09,222.41,225.6800,222.25,-0.68,0,0.05,1.2500
2,"almost , electric cars were sold in china in n...",2015-01-01,1,0,1,2392947,223.09,222.41,225.6800,222.25,-0.68,2,0.00,0.0000
3,@robertweinstein: options investor newsletter ...,2015-01-01,0,0,0,2392947,223.09,222.41,225.6800,222.25,-0.68,0,0.00,0.0000
4,stock market outlook: an average return of .% ...,2015-01-01,1,0,0,2392947,223.09,222.41,225.6800,222.25,-0.68,1,0.00,0.0000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1096863,tesla must face lawsuit claiming racism at cal...,2020-01-02,8,0,0,9558386,424.50,430.26,430.6957,421.71,5.76,8,-0.25,-3.5920
1096864,"""crashed the car - car can’t drive, how to get...",2020-01-02,13,3,1,9558386,424.50,430.26,430.6957,421.71,5.76,17,0.00,0.0000
1096865,ya $tsla shorts and longs are much more intell...,2020-01-02,2,2,0,9558386,424.50,430.26,430.6957,421.71,5.76,4,-0.05,1.0030
1096866,$tsla setting up slowly here for big flag test...,2020-01-02,0,0,0,9558386,424.50,430.26,430.6957,421.71,5.76,0,0.05,0.0000
1096867,my team has been notorious for getting in befo...,2020-01-02,7,3,0,9558386,424.50,430.26,430.6957,421.71,5.76,10,-0.15,-3.1245

In [16]:
elon_data

,tweet,date,like,comment,rt,stock_days,volume,open,close,high,low,variation,engagement,afinn,vader
0,ask me anything at pm florida time (focused on...,2015-01-06,796,130,830,2015-01-06,31288255,42.012,42.256,42.840,40.842,0.0085,1756,0.10,1.909
1,drone spaceport ship heads to its hold positio...,2015-01-06,3354,326,3410,2015-01-06,31288255,42.012,42.256,42.840,40.842,0.0085,7090,0.00,0.000
2,taking questions now at,2015-01-10,861,138,619,2015-01-12,29728035,40.610,40.442,40.894,39.850,-0.5514,1618,0.00,0.000
3,need to investigate the upper stage z actuator...,2015-01-10,1028,182,871,2015-01-12,29728035,40.610,40.442,40.894,39.850,-0.5514,2081,-0.05,-1.480
4,swimming on the moon,2015-01-10,1047,97,905,2015-01-12,29728035,40.610,40.442,40.894,39.850,-0.5514,2049,0.00,0.000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10787,@ppathole @wsj absolutely,2020-12-28,2394,131,92,2020-12-28,32278560,674.510,663.690,681.400,660.800,-1.2100,2617,0.00,0.000
10788,what should tesla do with in-car gaming in an ...,2020-12-29,33830,6932,884,2020-12-29,22910810,661.000,665.990,669.900,655.000,1.0900,41646,0.00,0.000
10789,@richierichhhhh_ absolutely,2020-12-29,72434,495,907,2020-12-29,22910810,661.000,665.990,669.900,655.000,1.0900,73836,0.00,0.000
10790,@kimpaquette just meeting with larry ellison t...,2020-12-29,8631,601,314,2020-12-29,22910810,661.000,665.990,669.900,655.000,1.0900,9546,0.00,0.000
10791,entertainment will be critical when cars drive...,2020-12-29,55085,2922,2611,2020-12-29,22910810,661.000,665.990,669.900,655.000,1.0900,60618,0.00,0.640

In [17]:
elon_filtered_data

,tweet,date,like,comment,rt,stock_days,volume,open,close,high,low,variation,engagement,afinn,vader
26,@id_aa_carmack tks. turns out we recovered som...,2015-01-23,371,52,202,2015-01-23,17205260,40.058,40.258,40.7,39.666,1.16,625,0.00,0.0000
27,@id_aa_carmack full rud (rapid unscheduled dis...,2015-01-23,1613,172,1684,2015-01-23,17205260,40.058,40.258,40.7,39.666,1.16,3469,0.25,3.2380
28,@id_aa_carmack residual fuel and oxygen combine,2015-01-23,596,21,668,2015-01-23,17205260,40.058,40.258,40.7,39.666,1.16,1285,0.00,0.0000
29,@id_aa_carmack rocket hits hard at ~ deg angle...,2015-01-23,729,57,889,2015-01-23,17205260,40.058,40.258,40.7,39.666,1.16,1675,-0.05,-0.5135
30,"@id_aa_carmack before impact, fins lose power ...",2015-01-23,588,49,712,2015-01-23,17205260,40.058,40.258,40.7,39.666,1.16,1349,0.05,-1.3660
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10782,@erdayastronaut @teslaownerssv haha ok,2020-12-27,3402,162,58,2020-12-28,32278560,674.510,663.690,681.4,660.800,-1.21,3622,0.15,3.1845
10785,try playing polytopia in your tesla! great gam...,2020-12-28,148037,5355,4186,2020-12-28,32278560,674.510,663.690,681.4,660.800,-1.21,157578,0.15,3.6725
10788,what should tesla do with in-car gaming in an ...,2020-12-29,33830,6932,884,2020-12-29,22910810,661.000,665.990,669.9,655.000,1.09,41646,0.00,0.0000
10790,@kimpaquette just meeting with larry ellison t...,2020-12-29,8631,601,314,2020-12-29,22910810,661.000,665.990,669.9,655.000,1.09,9546,0.00,0.0000
10791,entertainment will be critical when cars drive...,2020-12-29,55085,2922,2611,2020-12-29,22910810,661.000,665.990,669.9,655.000,1.09,60618,0.00,0.6400

In [18]:
# agrupando os tweets por datas
elon_filtered_group = elon_filtered_data.groupby(['date']).mean()
elon_filtered_group.drop('high', inplace=True, axis=1)
elon_filtered_group.drop('low', inplace=True, axis=1)

elon_group = elon_data.groupby(['date']).mean()
elon_group.drop('high', inplace=True, axis=1)
elon_group.drop('low', inplace=True, axis=1)

group = data.groupby(['date']).mean()
group.drop('high', inplace=True, axis=1)
group.drop('low', inplace=True, axis=1)

In [19]:
# exportando os dados em arquivos CSV
compression_opts = dict(method='zip',
                        archive_name='scored_tweets.csv')  
group.to_csv('tweets_sentiment.zip', index=False,
          compression=compression_opts) 
compression_opts = dict(method='zip',
                        archive_name='scored_ellon_tweets.csv')  
elon_group.to_csv('tweets_ellon_sentiment.zip', index=False,
          compression=compression_opts)
compression_opts = dict(method='zip',
                        archive_name='scored_ellon_filtered_tweets.csv')  
elon_filtered_group.to_csv('tweets_ellon_filtered_sentiment.zip', index=False,
          compression=compression_opts)